.projectsGrid {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
  grid-gap: 2em;
  justify-items: center;
}

.projectCard {
  border: 2px;
  border-style: solid;
  border-color: aliceblue;
  padding: 15px;
  text-align: center;
}

.projectDescription {
  font-size: small;
}
.projectStackContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.projectStackItem {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: #82a7a4;
}

.projectStackLink {
  display: flex;
  align-self: flex-end;
  width: fit-content;
}
