@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.app {
  font-family: 'Poppins', sans-serif;
  width: 50%;
  margin: auto;
}

.section {
  margin-top: 5em;
}

.sectionTitle {
  text-align: center;
  margin-bottom: 1em;
}
