* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: #c2dfdc;
}

h1 {
  font-size: 4rem;
  color: #82a7a4;
}

h2 {
  font-size: 2rem;
  color: #82a7a4;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  color: #82a7a4;
}

button {
  cursor: pointer;
}
